
.header {
    width: 100%;
    height: 5rem;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252424;
  }
  
  .header h1 {
    color: white;
    margin-right: 0.5rem;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 15rem;
    margin-left: 2rem;
  }
  select{
    font-size: 1.5rem;
    width: 7rem;
    outline: none;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #1ad1b9;
    color: #1ad1b9;
    padding: 0.1rem;
    margin-top: 0.5rem;
  }
  .co-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }