.product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    margin-bottom: 1rem;
}
.pro-img{
    width: 50%;
    padding: 0.2rem;
}
img{
    width: 100%;
}
.pro-det{
    width: 50%;
    padding: 0.5rem;
}
.pro-det>:nth-child(1){
    color: darkorange;
    font-size: large;
    font-weight: bold;
}
.pro-det>:nth-child(2){
    color: green;
    font-size: large;
    font-weight: bold;
}
.pro-det>:nth-child(3){
    color: gray;
    font-size: small;
}
.pro-det>:nth-child(4){
    color: blue;
}
.pro-det>:nth-child(5){
    color: green;
    font-size: larger;
    font-weight: bold;
}
.pro-det>:nth-child(6){
    color: darkgoldenrod;
}
.pro-det>:nth-child(7){
    color: red;
}
button{
    font-size: large;
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 8px;
    border: 1px solid blueviolet;
    color: blueviolet;
    margin-top: 1rem;
}
button:hover{
    background-color: blueviolet;
    color: white;
}