.login{
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin: 2rem auto;
}
.login> label{
    font-size: 2rem;
    font-weight: 500;
    color: #1877f2;
}
.login> input{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}
.login > button{
    border-radius: 8px;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    outline: none;
    width:92%;
    cursor: pointer;
}